{% load static %}

<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- favicon -->
      <link rel="icon" type="image/png" href="/static/images/favicon.jpg">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css" media="all">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/fontawesome/css/all.min.css">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/jquery-ui/jquery-ui.min.css">
      <!-- modal video css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/modal-video/modal-video.min.css">
      <!-- light box css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/lightbox/dist/css/lightbox.min.css">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick.css">
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick-theme.css">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <title>Traviko</title>
   </head>
   <body class="home">
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img src="/static/images/loader1.gif" alt="">
         </div>
      </div>
      <div id="page" class="full-page">
         <header id="masthead" class="site-header header-primary">
            <!-- Bottom header -->
            <div class="bottom-header">
               <div class="container d-flex justify-content-between align-items-center">
                  <div class="site-identity">
                     <h1 class="site-title">
                     <!--Website Logo -->
                     <a href="home">
                        <img src="/static/images/Traviko_logo.svg" alt="logo">
                     </a>
                     </h1>
                  </div>
                  <div class="main-navigation d-none d-lg-block">
                     <nav id="navigation" class="navigation">
                        <ul>
                           <li>
                              <a href="index.html">Home</a>
                           </li>

                           <!-- Hotels option -->
                           <li class="menu-item-has-children">
                              <a href="hotels.html">Book</a>

                              <ul>
                                 <li>
                                    <a href="hotels.html">Hotel</a>
                                 </li>

                                 <li>
                                    <a href="hotels.html">Restaurants</a>
                                 </li>
                              </ul>
                           </li>

                           
                           <li>
                              <a href="#">Travel Forum</a>
                           </li>


                           <li>
                              <a href="blog.html">Blog</a>
                           </li>

                        </ul>
                     </nav>
                  </div>


                  <div class="header-btn">
                     <a href="#" class="button-primary">BOOK NOW</a>
                  </div>
               </div>
            </div>
            <div class="mobile-menu-container"></div>
         </header>
         <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
               <div class="inner-baner-container" style="background-image: url(/static/images/naturedeer.jpg);">
                  <div class="container">
                     <div class="inner-banner-content">
                        <h2 class="inner-title">COMMUNITY BLOGS</h1>
                     </div>
                  </div>
               </div>
               <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <div class="archive-section blog-archive">
               <div class="archive-inner">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-8 primary right-sidebar">
                           <!-- blog post item html start -->
                           <div class="grid row">
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="#">
                                          <img src="/static/images/blogimg-1.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="#">Life is a beautiful journey not a destination</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="#">
                                          <img src="/static/images/blogimg-2.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="#">Take only memories, leave only footprints</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="1">
                                          <img src="/static/images/blogimg-1.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="1">Journeys are best measured in new friends</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="#">
                                          <img src="/static/images/blogimg-2.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="#">Let’s start adventure with best tripo guides</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="#">
                                          <img src="/static/images/blogimg-1.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="#">Enjoying the beauty of the great nature</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                              <div class="grid-item col-md-6">
                                 <article class="post">
                                    <figure class="feature-image">
                                       <a href="#">
                                          <img src="/static/images/blogimg-2.jpg" alt="">
                                       </a>
                                    </figure>
                                    <div class="entry-content">
                                       <h3>
                                          <a href="#">Someday I’m going to be free and travel</a>
                                       </h3>
                                       <div class="entry-meta">
                                          <span class="byline">
                                             <a href="#">Demoteam</a>
                                          </span>
                                          <span class="posted-on">
                                             <a href="#">August 17, 2021</a>
                                          </span>
                                          <span class="comments-link">
                                             <a href="#">No Comments</a>
                                          </span>
                                       </div>
                                       <p>Praesent, risus adipisicing donec! Cras. Lobortis id aliquip taciti repudiandae porro dolore facere officia! Natoque mollitia ultrices convallis nisl suscipit</p>
                                       <a href="#" class="button-text">CONTINUE READING..</a>
                                    </div>
                                 </article>
                              </div>
                           </div>
                           <!-- blog post item html end -->
                           <!-- pagination html start-->
                           <div class="post-navigation-wrap">
                              <nav>
                                <ul class="pagination">
                                  <li>
                                    <a href="#">
                                      <i class="fas fa-arrow-left"></i>
                                    </a>
                                  </li>
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">..</a></li>
                                  <li><a href="#">5</a></li>
                                  <li>
                                    <a href="#">
                                      <i class="fas fa-arrow-right"></i>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                           </div>
                           <!-- pagination html start-->
                        </div>
                        <div class="col-lg-4 secondary">
                           <div class="sidebar">
                              <aside class="widget author_widget">
                                 <h3 class="widget-title">ABOUT AUTHOR</h3>
                                 <div class="widget-content text-center"> 
                                    <div class="profile"> 
                                       <figure class="avatar"> 
                                          <a href="#"> 
                                             <img src="/static/images/img21.jpg" alt=""> 
                                          </a> 
                                       </figure> 
                                       <div class="text-content"> 
                                          <div class="name-title"> 
                                             <h3> 
                                                <a href="https://demo.bosathemes.com/bosa/photography/james-watson/">James Watson</a>
                                             </h3> 
                                          </div> 
                                          <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                                       </div> 
                                       <div class="socialgroup"> 
                                          <ul> 
                                             <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                                             <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                                             <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                                             <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                                             <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                                          </ul> 
                                       </div> 
                                    </div> 
                                 </div>
                              </aside>
                              <aside class="widget widget_latest_post widget-post-thumb">
                                 <h3 class="widget-title">Recent Post</h3>
                                 <ul>
                                    <li>
                                       <figure class="post-thumb">
                                          <a href="#"><img src="/static/images/img17.jpg" alt=""></a>
                                       </figure>
                                       <div class="post-content">
                                          <h5>
                                             <a href="#">Someday I’m going to be free and travel</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                             <span class="comments-link">
                                                <a href="#">No Comments</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="post-thumb">
                                          <a href="#"><img src="/static/images/img18.jpg" alt=""></a>
                                       </figure>
                                       <div class="post-content">
                                          <h5>
                                             <a href="#">Enjoying the beauty of the great nature</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                             <span class="comments-link">
                                                <a href="#">No Comments</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="post-thumb">
                                          <a href="#"><img src="/static/images/img19.jpg" alt=""></a>
                                       </figure>
                                       <div class="post-content">
                                          <h5>
                                             <a href="#">Let’s start adventure with best tripo guides</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                             <span class="comments-link">
                                                <a href="#">No Comments</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="post-thumb">
                                          <a href="#"><img src="/static/images/img34.jpg" alt=""></a>
                                       </figure>
                                       <div class="post-content">
                                          <h5>
                                             <a href="#">Journeys are best measured in new friends</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                             <span class="comments-link">
                                                <a href="#">No Comments</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <figure class="post-thumb">
                                          <a href="#"><img src="/static/images/img35.jpg" alt=""></a>
                                       </figure>
                                       <div class="post-content">
                                          <h5>
                                             <a href="#">Take only memories, leave only footprints</a>
                                          </h5>
                                          <div class="entry-meta">
                                             <span class="posted-on">
                                                <a href="#">August 17, 2021</a>
                                             </span>
                                             <span class="comments-link">
                                                <a href="#">No Comments</a>
                                             </span>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </aside>
                              <aside class="widget widget_social">
                                 <h3 class="widget-title">Social share</h3>
                                 <div class="social-icon-wrap">
                                    <div class="social-icon social-facebook">
                                       <a href="#">
                                          <i class="fab fa-facebook-f"></i>
                                          <span>Facebook</span>
                                       </a>
                                    </div>
                                    <div class="social-icon social-pinterest">
                                       <a href="#">
                                          <i class="fab fa-pinterest"></i>
                                          <span>Pinterest</span>
                                       </a>
                                    </div>
                                    <div class="social-icon social-whatsapp">
                                       <a href="#">
                                          <i class="fab fa-whatsapp"></i>
                                          <span>WhatsApp</span>
                                       </a>
                                    </div>
                                    <div class="social-icon social-linkedin">
                                       <a href="#">
                                          <i class="fab fa-linkedin"></i>
                                          <span>Linkedin</span>
                                       </a>
                                    </div>
                                    <div class="social-icon social-twitter">
                                       <a href="#">
                                          <i class="fab fa-twitter"></i>
                                          <span>Twitter</span>
                                       </a>
                                    </div>
                                    <div class="social-icon social-google">
                                       <a href="#">
                                          <i class="fab fa-google-plus-g"></i>
                                          <span>Google</span>
                                       </a>
                                    </div>
                                 </div>
                              </aside>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
         <!-- <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                           <h3 class="widget-title">
                              About Travel
                           </h3>
                           <div class="textwidget widget-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                           </div>
                           <div class="award-img">
                              <a href="#"><img src="/static/images/logo6.png" alt=""></a>
                              <a href="#"><img src="/static/images/logo2.png" alt=""></a>
                           </div>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                           <h3 class="widget-title">CONTACT INFORMATION</h3>
                           <div class="textwidget widget-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              <ul>
                                 <li>
                                    <a href="#">
                                       <i class="fas fa-phone-alt"></i>
                                       +01 (977) 2599 12
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <i class="fas fa-envelope"></i>
                                       company@domain.com
                                    </a>
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    3146  Koontz, California
                                 </li>
                              </ul>
                           </div>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_recent_post">
                           <h3 class="widget-title">Latest Post</h3>
                           <ul>
                              <li>
                                 <h5>
                                    <a href="#">Life is a beautiful journey not a destination</a>
                                 </h5>
                                 <div class="entry-meta">
                                    <span class="post-on">
                                       <a href="#">August 17, 2021</a>
                                    </span>
                                    <span class="comments-link">
                                       <a href="#">No Comments</a>
                                    </span>
                                 </div>
                              </li>
                              <li>
                                 <h5>
                                    <a href="#">Take only memories, leave only footprints</a>
                                 </h5>
                                 <div class="entry-meta">
                                    <span class="post-on">
                                       <a href="#">August 17, 2021</a>
                                    </span>
                                    <span class="comments-link">
                                       <a href="#">No Comments</a>
                                    </span>
                                 </div>
                              </li>
                           </ul>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_newslatter">
                           <h3 class="widget-title">SUBSCRIBE US</h3>
                           <div class="widget-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           </div>
                           <form class="newslatter-form">
                              <input type="email" name="s" placeholder="Your Email..">
                              <input type="submit" name="s" value="SUBSCRIBE NOW">
                           </form>
                        </aside>
                     </div>
                  </div>
               </div>
            </div>
            <div class="buttom-footer">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-5">
                        <div class="footer-menu">
                           <ul>
                              <li>
                                 <a href="#">Privacy Policy</a>
                              </li>
                              <li>
                                 <a href="#">Term & Condition</a>
                              </li>
                              <li>
                                 <a href="#">FAQ</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-2 text-center">
                        <div class="footer-logo">
                           <a href="#"><img src="/static/images/travele-logo.png" alt=""></a>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="copy-right text-right">Copyright © 2021 Travele. All rights reserveds</div>
                     </div>
                  </div>
               </div>
            </div>
         </footer> -->
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="/static/js/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="/static/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="/static/js/jquery.counterup.js"></script>
      <script src="/static/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="/static/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="/static/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="/static/vendors/slick/slick.min.js"></script>
      <script src="/static/js/jquery.slicknav.js"></script>
      <script src="/static/js/custom.min.js"></script>
   </body>
</html>