{% load static %}

<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- favicon -->
      <link rel="icon" type="image/png" href="/static/images/favicon.png">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css" media="all">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/fontawesome/css/all.min.css">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/jquery-ui/jquery-ui.min.css">
      <!-- modal video css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/modal-video/modal-video.min.css">
      <!-- light box css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/lightbox/dist/css/lightbox.min.css">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick.css">
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick-theme.css">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <title>Travele | Travel & Tour HTML5 template </title>
   </head>
   <body>
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img src="/static/images/loader1.gif" alt="">
         </div>
      </div>
      <div id="page" class="full-page">
         <header id="masthead" class="site-header header-primary">
            
            <!-- Bottom header -->
            <div class="bottom-header">
               <div class="container d-flex justify-content-between align-items-center">
                  <div class="site-identity">
                     <h1 class="site-title">
                     <!--Website Logo -->
                     <a href="home">
                        <img src="/static/images/Traviko_logo.svg" alt="logo">
                     </a>
                     </h1>
                  </div>
                  <div class="main-navigation d-none d-lg-block">
                     <nav id="navigation" class="navigation">
                        <ul>
                           <li>
                              <a href="index.html">Home</a>
                           </li>

                           <!-- Hotels option -->
                           <li class="menu-item-has-children">
                              <a href="hotels.html">Book</a>

                              <ul>
                                 <li>
                                    <a href="hotels.html">Hotel</a>
                                 </li>

                                 <li>
                                    <a href="hotels.html">Restaurants</a>
                                 </li>
                              </ul>
                           </li>

                           
                           <li>
                              <a href="#">Travel Forum</a>
                           </li>


                           <li>
                              <a href="blog.html">Blog</a>
                           </li>

                        </ul>
                     </nav>
                  </div>


                  <div class="header-btn">
                     <a href="#" class="button-primary">BOOK NOW</a>
                  </div>
               </div>
            </div>
            <div class="mobile-menu-container"></div>
         
         </header>
         <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
               <div class="inner-baner-container" style="background-image: url(/static/images/inner-banner.jpg);">
                  <div class="container">
                     <div class="inner-banner-content">
                        <h1 class="inner-title">Booking</h1>
                     </div>
                  </div>
               </div>
               <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <div class="step-section booking-section">
               <div class="container">
                  <div class="step-link-wrap">
                     <div class="step-item active">
                        Your cart
                        <a href="#" class="step-icon"></a>
                     </div>
                     <div class="step-item active">
                        Your Details
                        <a href="#" class="step-icon"></a>
                     </div>
                     <div class="step-item">
                        Finish
                        <a href="#" class="step-icon"></a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-8 right-sidebar">
                        <!-- step one form html start -->
                        <div class="booking-form-wrap">
                           <div class="booking-content">
                              <div class="form-title">
                                 <span>1</span>
                                 <h3>Your Details</h3>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>First name*</label>
                                       <input type="text" class="form-control" name="firstname_booking">
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Last name*</label>
                                       <input type="text" class="form-control" name="lastname_booking">
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Email*</label>
                                       <input type="email" class="form-control" name="email_booking">
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Confirm Email*</label>
                                       <input type="email" class="form-control" name="email_booking">
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Phone*</label>
                                       <input type="text" class="form-control" name="lastname_booking">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="booking-content">
                              <div class="form-title">
                                 <span>2</span>
                                 <h3>Payment Information</h3>
                              </div>
                              <div class="row">
                                 <div class="col-12">
                                    <div class="form-group">
                                       <label>Name on card*</label>
                                       <input type="text" class="form-control" name="firstname_booking">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="row align-items-center">
                                       <div class="col-sm-6">
                                          <div class="form-group">
                                             <label>Card number*</label>
                                             <input type="text" id="card_number" name="card_number" class="form-control">
                                          </div>
                                       </div>
                                       <div class="col-sm-6">
                                          <img src="/static/images/cards.png" alt="Cards">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <label>Expiration date*</label>
                                          <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                   <input type="text" id="expire_month" name="expire_month" class="form-control" placeholder="MM">
                                                </div>
                                             </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                   <input type="text" id="expire_year" name="expire_year" class="form-control" placeholder="Year">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                             <label>Security code*</label>
                                             <div class="row">
                                                <div class="col-4">
                                                   <div class="form-group">
                                                      <input type="text" id="ccv" name="ccv" class="form-control" placeholder="CCV">
                                                   </div>
                                                </div>
                                                <div class="col-8">
                                                   <img src="/static/images/icon_ccv.gif" alt="ccv"><small>Last 3 digits</small>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="info-content">
                                 <h4>Or checkout with Paypal</h4>
                                 <p>Lorem ipsum dolor sit amet, vim id accusata sensibus, id ridens quaeque qui. Ne qui vocent ornatus molestie, reque fierent dissentiunt mel ea.</p>
                                 <a href="#">
                                    <img src="/static/images/paypal_bt.png" alt="">
                                 </a>
                              </div>
                           </div>
                           <div class="booking-content">
                              <div class="form-title">
                                 <span>3</span>
                                 <h3>Billing Address</h3>
                              </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Country*</label>
                                       <select class="form-control" name="country" id="country">
                                          <option value="" selected="">Select your country</option>
                                          <option value="Europe">Europe</option>
                                          <option value="United states">United states</option>
                                          <option value="Asia">Asia</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Street line 1*</label>
                                       <input type="text" name="street_1">
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Street line 2</label>
                                       <input type="text" name="street_2">
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                       <label>City*</label>
                                       <input type="text" name="city_booking">
                                    </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                       <label>State*</label>
                                       <input type="text" name="state_booking">
                                    </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                       <label>Postal code*</label>
                                       <input type="text" name="postal_code">
                                    </div>
                                 </div>
                                 <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Additional Information</label>
                                       <textarea rows="6" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <!--End row -->
                           </div>
                           <div class="form-policy">
                              <h3>Cancellation policy</h3>
                              <div class="form-group">
                                 <label class="checkbox-list">
                                    <input type="checkbox" name="s">
                                    <span class="custom-checkbox"></span>
                                    I accept terms and conditions and general policy.
                                 </label>
                              </div>
                              <a href="#" class="button-primary">Book Now</a>
                           </div>
                        </div>
                        <!-- step one form html end -->
                     </div>
                     <div class="col-lg-4">
                        <aside class="sidebar">
                           <div class="widget-bg widget-table-summary">
                              <h4 class="bg-title">Summary</h4>
                              <table>
                                 <tbody>
                                    <tr>
                                       <td>
                                          <strong>Packages cost </strong>
                                       </td>
                                       <td class="text-right">
                                          $300
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <strong>Dedicated tour guide</strong>
                                       </td>
                                       <td class="text-right">
                                          $34
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <strong>Insurance</strong>
                                       </td>
                                       <td class="text-right">
                                          $34
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <strong>tax</strong>
                                       </td>
                                       <td class="text-right">
                                          13%
                                       </td>
                                    </tr>
                                    <tr class="total">
                                       <td>
                                          <strong>Total cost</strong>
                                       </td>
                                       <td class="text-right">
                                          <strong>$368</strong>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
   
                        </aside>
                     </div>
                  </div>
               </div>
            </div>
         </main>
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="/static/js/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="/static/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="/static/js/jquery.counterup.js"></script>
      <script src="/static/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="/static/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="/static/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="/static/vendors/slick/slick.min.js"></script>
      <script src="/static/js/jquery.slicknav.js"></script>
      <script src="/static/js/custom.min.js"></script>
   </body>
</html>