<nav>
    <div class="container">
        <div class="half">
          <label for="profile2" class="profile-dropdown">
            <input type="checkbox" id="profile2">
            <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png">
            <span>User</span>
            <label for="profile2"><i class="mdi mdi-menu"></i></label>
            <ul>
              <li><a href="#"><i class="mdi mdi-email-outline"></i>Messages</a></li>
              <li><a href="#"><i class="mdi mdi-account"></i>Account</a></li>
              <li><a href="#"><i class="mdi mdi-settings"></i>Settings</a></li>
              <li><a href="#"><i class="mdi mdi-logout"></i>Login</a></li>
            </ul>
          </label>
        </div>
      </div>
    </nav>