{% load static %}

<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- favicon -->
      <link rel="icon" type="image/png" href="/static/images/favicon.png">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css" media="all">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/fontawesome/css/all.min.css">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/jquery-ui/jquery-ui.min.css">
      <!-- modal video css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/modal-video/modal-video.min.css">
      <!-- light box css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/lightbox/dist/css/lightbox.min.css">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick.css">
      <link rel="stylesheet" type="text/css" href="/static/vendors/slick/slick-theme.css">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <title>Travele | Travel & Tour HTML5 template </title>
   </head>
   <body>
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img src="/static/images/loader1.gif" alt="">
         </div>
      </div>
      <div id="page" class="full-page">
         <header id="masthead" class="site-header header-primary">

            
            <!-- Bottom header -->
            <div class="bottom-header">
               <div class="container d-flex justify-content-between align-items-center">
                  <div class="site-identity">
                     <h1 class="site-title">
                     <!--Website Logo -->
                     <a href="home">
                        <img src="/static/images/Traviko_logo.svg" alt="logo">
                     </a>
                     </h1>
                  </div>
                  <div class="main-navigation d-none d-lg-block">
                     <nav id="navigation" class="navigation">
                        <ul>
                           <li>
                              <a href="index.html">Home</a>
                           </li>

                           <!-- Hotels option -->
                           <li class="menu-item-has-children">
                              <a href="hotels.html">Book</a>

                              <ul>
                                 <li>
                                    <a href="hotels.html">Hotel</a>
                                 </li>

                                 <li>
                                    <a href="hotels.html">Restaurants</a>
                                 </li>
                              </ul>
                           </li>

                           
                           <li>
                              <a href="#">Travel Forum</a>
                           </li>


                           <li>
                              <a href="blog.html">Blog</a>
                           </li>

                        </ul>
                     </nav>
                  </div>


                  <div class="header-btn">
                     <a href="#" class="button-primary">BOOK NOW</a>
                  </div>
               </div>
            </div>
            <div class="mobile-menu-container"></div>
         
         
         </header>
         <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
               <div class="inner-baner-container" style="background-image: url(/static/images/inner-banner.jpg);">
                  <div class="container">
                     <div class="inner-banner-content">
                        <h1 class="inner-title">Package Offer</h1>
                     </div>
                  </div>
               </div>
               <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <section class="package-offer-wrap">
               <!-- special section html start -->
               <div class="special-section">
                  <div class="container">
                     <div class="special-inner">
                        <div class="row">
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img9.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>20%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">CANADA</a>
                                    </div>
                                    <h3>
                                       <a href="#">Experience the natural beauty of glacier</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1500</del>
                                       <ins>$1200</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img10.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>15%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">NEW ZEALAND</a>
                                    </div>
                                    <h3>
                                       <a href="#">Trekking to the mountain camp site</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1300</del>
                                       <ins>$1105</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img11.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>15%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">MALAYSIA</a>
                                    </div>
                                    <h3>
                                       <a href="#">Sunset view of beautiful lakeside city</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1800</del>
                                       <ins>$1476</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img11.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>15%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">SWITZERLAND</a>
                                    </div>
                                    <h3>
                                       <a href="#">Hiking to the far west mount region</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1200</del>
                                       <ins>$1068</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img11.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>15%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">SOUTH WALES</a>
                                    </div>
                                    <h3>
                                       <a href="#">Couple vacation to South Wales</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1099</del>
                                       <ins>$956</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-lg-4">
                              <div class="special-item">
                                 <figure class="special-img">
                                    <img src="/static/images/img11.jpg" alt="">
                                 </figure>
                                 <div class="badge-dis">
                                    <span>
                                       <strong>15%</strong>
                                       off
                                    </span>
                                 </div>
                                 <div class="special-content">
                                    <div class="meta-cat">
                                       <a href="#">DUBAI (UAE)</a>
                                    </div>
                                    <h3>
                                       <a href="#">Aerial view from the Burj Khalifa</a>
                                    </h3>
                                    <div class="package-price">
                                       Price:
                                       <del>$1300</del>
                                       <ins>$1079</ins>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- special html end -->
            </section>
         </main>
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
            <div class="header-search-form">
               <div class="container">
                  <div class="header-search-container">
                     <form class="search-form" role="search" method="get" >
                        <input type="text" name="s" placeholder="Enter your text...">
                     </form>
                     <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                     </a>
                  </div>
               </div>
            </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="/static/js/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="/static/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="/static/js/jquery.counterup.js"></script>
      <script src="/static/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="/static/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="/static/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="/static/vendors/slick/slick.min.js"></script>
      <script src="/static/js/jquery.slicknav.js"></script>
      <script src="/static/js/custom.min.js"></script>
   </body>
</html>